<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>{{title}}</h1>
    <div>
        <a mat-button [routerLink]="['/top-games']" routerLinkActive="active-link"> Top Games </a>
        <a mat-button [routerLink]="['/new-games']" routerLinkActive="active-link"> New Games </a>
        <a mat-button [routerLink]="['/slots']" routerLinkActive="active-link"> Slots </a>
        <a mat-button [routerLink]="['/jackpot']" routerLinkActive="active-link"> Jackpots </a>
        <a mat-button [routerLink]="['/live']" routerLinkActive="active-link"> Live </a>
        <a mat-button [routerLink]="['/black-jack']" routerLinkActive="active-link"> Black Jack </a>
        <a mat-button [routerLink]="['/roulette']" routerLinkActive="active-link"> Roulette </a>
        <a mat-button [routerLink]="['/table']" routerLinkActive="active-link"> Table </a>
        <a mat-button [routerLink]="['/poker']" routerLinkActive="active-link"> Poker </a>
        <a mat-button [routerLink]="['/other']" routerLinkActive="active-link"> Other </a>
      </div>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
